h1 {font-family: 'Istok Web', sans-serif;
color: rgb(175,22,22);
padding: 1pc;
font-size: 11mm;
}


hr {height:3px; border:none; color:rgb(175, 18, 18); background-color:rgb(175, 33, 33); width:100%;}
body {background-color: rgb(248, 248, 248);}
nav 
a {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
nav
a
{ display:inline;
text-align: center;
width: 300px;
height: 25px;
margin: 0px 4px;
float:right;
font-family: 'Istok Web', sans-serif;
}

nav a:hover {
    background-color: rgb(175, 22, 22);
    color: white;
    border-radius:5px;
}

@media screen and (max-width: 600px) {
.nav {
width: 100%;
        }
}

h2 {
float:right;
width:  650px;
height: 37px;
text-align:center;
font-family: 'Istok Web', sans-serif;
color: rgb(175,22,22);
}

h3 {
    width: 600px;
    height: 300px
  }
  
.intro {
    font-size: 3mm;
    width: 600px;
    height: 340px;
    border-radius: 10px;
    background-color: rgb(175, 22, 22);
    padding: 1em;
    color: white;
    float: right;
    font-family: 'Istok Web', sans-serif;

  }
   

footer {
    width: 100pc;
    padding: 0px;
    margin: 550px;
    font-size: 15px;  
    color: rgb(0, 0, 0);
    font-family: 'Istok Web', sans-serif;

}


#picture img {
    width: 35%;
    height: 420px;
    margin: 50px;
    float: left;
    border-radius: 10px;
    border: 3px solid rgb(175, 22, 22);
 }
h4 { text-align: center;
    text-decoration: underline;
    color: white;
    font-size: 4mm;

}
 .bio-container {display: flex;
    flex-direction: column;
    font-size: 3.5mm;
    margin: 50px;
    height: 10cm;
    color: white;
}

.bio-container div{
    border: 2px rgb(255, 255, 255) solid;
    background-color: rgb(175,22,22);
    border-radius: 10px;
    padding: 1px; 
    font-family: 'Istok Web', sans-serif;  
    
}

@media screen and (max-width: 600px) {
.bio-container {
    width: 100%;
            }
    }

.contactform {
font-size: 4.5mm;
padding: 60px;
text-align: center;
font-family: 'Istok Web', sans-serif;
}

@media screen and (max-width: 600px) {
    .contactform {
    width: 100%;
    }
    }
             


input, textarea{
    padding: 35px;
    width: 600px;
    text-align: center;
    border: 2px solid rgb(175, 22, 22);
    border-radius: 10px;
}
.submit input{
    width: 200px;
    background-color: rgb(175, 22, 22);
        color: white;
        font-size: 4.5mm;
        font-family: 'Istok Web', sans-serif;


}

.gallery {
 display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(175, 22, 22);
  width: 1200px;
  height: 1000px;
  padding: 40px;
  grid-gap: 30px 30px;
  margin:   20px;
}

.gallery > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 350px;
    height: 450px;
    padding: 10px;
    font-size: 30px;
    text-align: center;

         }

@media screen and (max-width: 600px) {
.gallery {
width: 100%;
}
}
            
@media screen and (max-width: 600px) {
    .gallery > div {
    width: 100%;
    }
    }
             